<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::show"/>
<body>
<div th:replace="fragments/navbar"/>
<div class="container">
    <p>
    <h2>Events</h2></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Country</th>
            <th>Funding By</th>
            <th>Organized By</th>
            <th>Email Us</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th:block sec:authorize="hasAnyRole('ADMIN', 'ORGANIZATION')">
                <th>Edit</th>
                <th>Delete</th>
            </th:block>
        </tr>
        </thead>
        <tbody th:each="event,i : ${events}">
        <tr>
            <td><span th:text="${i.index+1}"/></td>
            <td><span th:text="${event.name}"/></td>
            <td><span th:text="${event.countryName}"/></td>
            <td><a th:href="${event.funderWebsite}"><span th:text="${event.funderName}"/></a></td>
            <td><a th:href="${event.organizationWebsite}"><span th:text="${event.organizationName}"/></a></td>
            <td>
                <a th:href="'mailto:' + ${event.organizationUsername} + '?subject= Event ' + ${event.name} +';'">
                    <i class="fa fa-envelope-o  fa-2x" aria-hidden="true"></i>
                </a>
            </td>
            <td><span th:text="${event.active} == true ? 'Active' : 'Expired'"/></td>
            <td><span th:text="${#dates.format(event.startDate, 'dd-MMM-yyyy')}"/></td>
            <td><span th:text="${#dates.format(event.endDate, 'dd-MMM-yyyy')}"/></td>
            <td>
                <a th:href="@{https://www.google.com/maps/place/{latitude}&#43;{longitude}/&#64;{latitude},{longitude},15z(latitude=${event.latitude},longitude=${event.longitude})}"
                    target="_blank">
                    <i class="fa fa-location-arrow fa-2x" aria-hidden="true"></i>
                </a>
            </td>
            <th:block sec:authorize="hasAnyRole('ADMIN', 'ORGANIZATION')">
                <td>
                    <a th:href="@{'/events/edit/' + ${event.id}}">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/events/delete/' + ${event.id}}">
                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                    </a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="scripts/script::show"/>
<footer>
    <th:block th:replace="fragments/pages::events" />
    <div class="col-sm-offset-11">
        <div>
            <a href="/">
                <i class="fa fa-reply fa-3x"/>
            </a>
        </div>
    </div>
</footer>
</body>
</html>