<div class="modal-body modal fade bs-example-modal-sm">
	<div class="box">
		<div class="content">
			<div class="social">
				<form action="/connect/facebook" method="POST">
					<input type="hidden" name="scope" value="user_posts, email"/>
					<div class="formInfo">
						<p>You aren't connected to Facebook yet.</p>
					</div>
					<p>
						<input class="btn btn-success btn-register" type="submit" value="Connect to Facebook"
							   name="commit"/>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>